<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Controlled Substance Database - Search</title>
</head>

<body>
  <div class="container">
    <div class="row">
    <form class="form-horizontal" action="/" method="post">
      <div class="form-group">
        <label class="col-md-2 control-label" for="identifier">Identifier</label>
        <div class="col-md-10">
          <input type="text" name="identifier" value="{{identifier}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="family">Family Name</label>
        <div class="col-md-10">
          <input type="text" name="family" value="{{family}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="given">Given Name</label>
        <div class="col-md-10">
          <input type="text" name="given" value="{{given}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="birthdate">Birth Date</label>
        <div class="col-md-10">
          <input type="text" name="birthdate" value="{{birthdate}}" placeholder="yyyy-mm-dd">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-default">Search</button>
        </div>
      </div>
    </form>
    </div>
  </div>
</body>

</html>
